:root {
    --background-color: rgb(195, 206, 178);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
}

nav {
    background-color: var(--background-color);
    color: black;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1vw;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 1vh;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contentContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* box-sizing: border-box;
    border: 2px solid red; */
    height: 94vh;
}

#charts {
    overflow: hidden;
    height: 93vh;
    width: 174vh;
    background-color: var(--background-color);
    border-top-right-radius: 2vh;
    /* box-sizing: border-box;
    border: 2px solid yellow; */
}

#watchlist {
    width: 20vw;
    height: 93vh;
    background-color: var(--background-color);
    border-top-left-radius: 2vh;
    box-sizing: border-box;
    border: 2px solid yellow;
}

.watchlistData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.lastPrice, .changePrice, .changePricePercent { 
    /* box-sizing: border-box;
    border: 2px solid green; */
}

footer {
    margin: 20vh 0;
    background-color: rgb(65, 82, 35);
    position: fixed;
    /* border: 2px solid red; */
}